In [1]:
import pandas as pd

In [6]:
data =[10,2,3,45,65]
series = pd.Series(data)
# each series value have an index value which which will start from 0
print(series)

0    10
1     2
2     3
3    45
4    65
dtype: int64

In [13]:
#print the third element 
print(series[3])

45

In [35]:
#create dictionary
series_dict=pd.Series({"a":10,"b":15})
print(series_dict)

a    10
b    15
dtype: int64

In [18]:
#arithmetical operation
series_add=series +10
print(series_add)

0    20
1    12
2    13
3    55
4    75
dtype: int64

In [19]:
#filter elements in the series
filtered_series=series[series>10]
print(filtered_series)

3    45
4    65
dtype: int64

In [21]:
#mean value of the series
mean = series.mean()
print(f"mean value of the series is {mean}")

mean value of the series is 25.0

## Data frame

In [24]:
dframe ={'Name':['kingini','tuttu','ikka'],'Age':[24,23,24],'Place':['Kannur','Mavoor','Punoor']}
#create the data into dataframe
df=pd.DataFrame(dframe)
print(df)

      Name  Age   Place
0  kingini   24  Kannur
1    tuttu   23  Mavoor
2     ikka   24  Punoor

In [25]:
print(df['Name'])

0    kingini
1      tuttu
2       ikka
Name: Name, dtype: object

In [29]:
print(df[['Name', 'Place']])

      Name   Place
0  kingini  Kannur
1    tuttu  Mavoor
2     ikka  Punoor

In [30]:
#access each row from dataframe we need 
print(df.iloc[2])

Name       ikka
Age          24
Place    Punoor
Name: 2, dtype: object

In [34]:
print(df[df['Age'] > 23])

      Name  Age   Place
0  kingini   24  Kannur
2     ikka   24  Punoor

In [36]:
#add a new column to the dataframe
df['stiphend']=[15000,5000,5000]
print(df)

      Name  Age   Place  stiphend
0  kingini   24  Kannur     15000
1    tuttu   23  Mavoor      5000
2     ikka   24  Punoor      5000

In [41]:
#remove a column
df = df.drop(columns=['stiphend'])

In [42]:
#statistical function
#describe() help get the summery of statistics of your data frame
print(df.describe())

             Age
count   3.000000
mean   23.666667
std     0.577350
min    23.000000
25%    23.500000
50%    24.000000
75%    24.000000
max    24.000000

In [43]:
df = pd.read_csv('data.csv')
print(df)

       Name  Age      Place  Salary
0   Kingini   20     Kannur    4500
1     tuttu   23    Calicut   35000
2    chinnu   23  kolathara   30000
3     dhamu   23    calicut   30000
4      ikka   24     ponoor   40000
5      Angu   24     palayi   50000
6  Kuttappi   23  chevayoor   75000

In [46]:
df = pd.read_csv('data.csv',dtype={'Age':int,'salary':float},usecols= ['Name','Age','Place'])
print(df)

       Name  Age      Place
0   Kingini   20     Kannur
1     tuttu   23    Calicut
2    chinnu   23  kolathara
3     dhamu   23    calicut
4      ikka   24     ponoor
5      Angu   24     palayi
6  Kuttappi   23  chevayoor

In [48]:
df = pd.read_csv('data.csv')
print(df)

       Name   Age      Place   Salary
0   Kingini  20.0     Kannur   4500.0
1     tuttu  23.0    Calicut  35000.0
2    chinnu  23.0  kolathara  30000.0
3     dhamu  23.0    calicut  30000.0
4      ikka  24.0     ponoor  40000.0
5      Angu  24.0     palayi  50000.0
6  Kuttappi  23.0  chevayoor  75000.0
7       NaN   NaN        NaN      NaN

In [49]:
df_drop_NaN=df.dropna(how='all')
print(df_drop_NaN)

       Name   Age      Place   Salary
0   Kingini  20.0     Kannur   4500.0
1     tuttu  23.0    Calicut  35000.0
2    chinnu  23.0  kolathara  30000.0
3     dhamu  23.0    calicut  30000.0
4      ikka  24.0     ponoor  40000.0
5      Angu  24.0     palayi  50000.0
6  Kuttappi  23.0  chevayoor  75000.0

In [53]:
df_drop_NaN=df.dropna(axis=0,how='all')
print(df_drop_NaN)

       Name   Age      Place   Salary
0   Kingini  20.0     Kannur   4500.0
1     tuttu  23.0    Calicut  35000.0
2    chinnu  23.0  kolathara  30000.0
3     dhamu  23.0    calicut  30000.0
4      ikka  24.0     ponoor  40000.0
5      Angu  24.0     palayi  50000.0
6  Kuttappi  23.0  chevayoor  75000.0

In [56]:
df_filled=df.fillna(0)
print(df_filled)

       Name   Age      Place   Salary
0   Kingini  20.0     Kannur   4500.0
1     tuttu  23.0    Calicut  35000.0
2    chinnu  23.0  kolathara  30000.0
3     dhamu  23.0    calicut  30000.0
4      ikka  24.0     ponoor  40000.0
5      Angu  24.0     palayi  50000.0
6  Kuttappi  23.0  chevayoor  75000.0
7         0   0.0          0      0.0

# Air pollution

In [100]:
#Convert the file into a dataframe
#create filter based on the country find the median mean std for the respective column and store into a new column delete the the repeated entries change the null values into 0
import pandas as pd
air = pd.read_csv('air-pollution.csv')
air

,Entity,Code,Year,Nitrogen oxide (NOx),Sulphur dioxide (SO₂) emissions,Carbon monoxide (CO) emissions,Organic carbon (OC) emissions,Non-methane volatile organic compounds (NMVOC) emissions,Black carbon (BC) emissions,Ammonia (NH₃) emissions,Unnamed: 10
0,Afghanistan,AFG,1750,555.47860,174.87167,142073.31,5456.8850,13596.633,1633.0308,7681.0464,NaN
1,Afghanistan,AFG,1760,578.50757,181.99332,147859.23,5679.1167,14150.870,1699.5359,8000.8574,NaN
2,Afghanistan,AFG,1770,602.47980,189.38850,153867.40,5909.8840,14726.470,1768.5956,8333.9610,NaN
3,Afghanistan,AFG,1780,627.43220,197.06535,160104.42,6149.4410,15324.077,1840.2854,8680.9060,NaN
4,Afghanistan,AFG,1790,653.40310,205.03189,166576.77,6398.0370,15944.332,1914.6805,9042.2660,NaN
...,...,...,...,...,...,...,...,...,...,...,...
48220,Zimbabwe,ZWE,2018,82210.49000,56748.18400,1557296.50,111642.5100,291050.400,32050.9020,124543.0160,NaN
48221,Zimbabwe,ZWE,2019,79547.03000,53065.87500,1574731.90,113660.8600,294380.620,32552.8750,127205.2700,NaN
48222,Zimbabwe,ZWE,2020,68338.91400,43894.06000,1593834.00,115329.2340,298699.940,32467.2950,129910.9300,NaN
48223,Zimbabwe,ZWE,2021,71148.93000,45291.41800,1624286.00,117177.1950,304488.380,33174.6050,132651.4800,NaN
48224,Zimbabwe,ZWE,2022,73363.71000,51669.65000,1626256.20,117211.6800,305560.900,33231.3200,134480.5800,NaN

In [101]:
#create the data into dataframe
df=pd.DataFrame(air)
print(df)

            Entity Code  Year  Nitrogen oxide (NOx)  \
0      Afghanistan  AFG  1750             555.47860
1      Afghanistan  AFG  1760             578.50757
2      Afghanistan  AFG  1770             602.47980
3      Afghanistan  AFG  1780             627.43220
4      Afghanistan  AFG  1790             653.40310
...            ...  ...   ...                   ...
48220     Zimbabwe  ZWE  2018           82210.49000
48221     Zimbabwe  ZWE  2019           79547.03000
48222     Zimbabwe  ZWE  2020           68338.91400
48223     Zimbabwe  ZWE  2021           71148.93000
48224     Zimbabwe  ZWE  2022           73363.71000

       Sulphur dioxide (SO₂) emissions  Carbon monoxide (CO) emissions  \
0                            174.87167                       142073.31
1                            181.99332                       147859.23
2                            189.38850                       153867.40
3                            197.06535                       160104.42
4                            205.03189                       166576.77
...                                ...                             ...
48220                      56748.18400                      1557296.50
48221                      53065.87500                      1574731.90
48222                      43894.06000                      1593834.00
48223                      45291.41800                      1624286.00
48224                      51669.65000                      1626256.20

       Organic carbon (OC) emissions  \
0                          5456.8850
1                          5679.1167
2                          5909.8840
3                          6149.4410
4                          6398.0370
...                              ...
48220                    111642.5100
48221                    113660.8600
48222                    115329.2340
48223                    117177.1950
48224                    117211.6800

       Non-methane volatile organic compounds (NMVOC) emissions  \
0                                              13596.633
1                                              14150.870
2                                              14726.470
3                                              15324.077
4                                              15944.332
...                                                  ...
48220                                         291050.400
48221                                         294380.620
48222                                         298699.940
48223                                         304488.380
48224                                         305560.900

       Black carbon (BC) emissions  Ammonia (NH₃) emissions  Unnamed: 10
0                        1633.0308                7681.0464          NaN
1                        1699.5359                8000.8574          NaN
2                        1768.5956                8333.9610          NaN
3                        1840.2854                8680.9060          NaN
4                        1914.6805                9042.2660          NaN
...                            ...                      ...          ...
48220                   32050.9020              124543.0160          NaN
48221                   32552.8750              127205.2700          NaN
48222                   32467.2950              129910.9300          NaN
48223                   33174.6050              132651.4800          NaN
48224                   33231.3200              134480.5800          NaN

[48225 rows x 11 columns]

In [108]:
#Replace NaN with 0
air.fillna(0, inplace=True)

In [109]:
filtered_country = air[air['Entity'] == 'India']
print(filtered_country)

      Entity Code  Year  Nitrogen oxide (NOx)  \
19475  India  IND  1750             30488.506
19476  India  IND  1760             31085.959
19477  India  IND  1770             31692.695
19478  India  IND  1780             32308.560
19479  India  IND  1790             32933.355
...      ...  ...   ...                   ...
19698  India  IND  2018           9818858.000
19699  India  IND  2019           9464296.000
19700  India  IND  2020           8575110.000
19701  India  IND  2021           9056502.000
19702  India  IND  2022           9350050.000

       Sulphur dioxide (SO₂) emissions  Carbon monoxide (CO) emissions  \
19475                     3.481388e+04                       8360133.5
19476                     3.543608e+04                       8509232.0
19477                     3.606059e+04                       8658843.0
19478                     3.668625e+04                       8808680.0
19479                     3.731170e+04                       8958415.0
...                                ...                             ...
19698                     1.079536e+07                      48736120.0
19699                     1.045351e+07                      47878940.0
19700                     9.621835e+06                      46350892.0
19701                     1.075944e+07                      46867750.0
19702                     1.124342e+07                      46949000.0

       Organic carbon (OC) emissions  \
19475                      416970.56
19476                      424385.12
19477                      431822.25
19478                      439267.25
19479                      446703.34
...                              ...
19698                     2440055.50
19699                     2428371.00
19700                     2447980.00
19701                     2494958.00
19702                     2498395.20

       Non-methane volatile organic compounds (NMVOC) emissions  \
19475                                          964998.75
19476                                          982068.06
19477                                          999177.10
19478                                         1016290.40
19479                                         1033367.50
...                                                  ...
19698                                        10479997.00
19699                                        10427760.00
19700                                        10265922.00
19701                                        10341310.00
19702                                        10349039.00

       Black carbon (BC) emissions  Ammonia (NH₃) emissions  Unnamed: 10
19475                   122179.055                479372.88          0.0
19476                   124343.670                488997.53          0.0
19477                   126513.800                498799.97          0.0
19478                   128685.000                508781.62          0.0
19479                   130852.210                518943.75          0.0
...                            ...                      ...          ...
19698                   835241.300               9951087.00          0.0
19699                   815178.060              10061199.00          0.0
19700                   788972.500              10168386.00          0.0
19701                   802068.250              10278381.00          0.0
19702                   809142.800              10385615.00          0.0

[228 rows x 11 columns]

In [89]:
count=filtered_country.describe()
print(count)

              Year  Nitrogen oxide (NOx)  Sulphur dioxide (SO₂) emissions  \
count   228.000000          2.280000e+02                     2.280000e+02
mean   1907.907895          1.303766e+06                     1.310759e+06
std      67.109519          2.483993e+06                     2.511064e+06
min    1750.000000          3.048851e+04                     3.481388e+04
25%    1851.750000          4.226753e+04                     4.395770e+04
50%    1908.500000          1.758943e+05                     3.397448e+05
75%    1965.250000          9.379858e+05                     9.856426e+05
max    2022.000000          9.818858e+06                     1.124342e+07

       Carbon monoxide (CO) emissions  Organic carbon (OC) emissions  \
count                    2.280000e+02                   2.280000e+02
mean                     1.884261e+07                   8.839487e+05
std                      1.146316e+07                   5.189560e+05
min                      8.360134e+06                   4.169706e+05
25%                      1.054905e+07                   5.256599e+05
50%                      1.512604e+07                   7.181935e+05
75%                      2.087098e+07                   8.966426e+05
max                      4.949433e+07                   2.498395e+06

       Non-methane volatile organic compounds (NMVOC) emissions  \
count                                       2.280000e+02
mean                                        3.114111e+06
std                                         2.808321e+06
min                                         9.649988e+05
25%                                         1.214381e+06
50%                                         1.948796e+06
75%                                         3.565418e+06
max                                         1.048000e+07

       Black carbon (BC) emissions  Ammonia (NH₃) emissions  Unnamed: 10
count                   228.000000             2.280000e+02        228.0
mean                 286716.972741             2.343952e+06          0.0
std                  189435.688014             2.803421e+06          0.0
min                  122179.055000             4.793729e+05          0.0
25%                  153853.565000             6.637391e+05          0.0
50%                  226779.900000             8.765171e+05          0.0
75%                  302536.150000             2.426634e+06          0.0
max                  842624.800000             1.038562e+07          0.0

In [90]:
count

,Year,Nitrogen oxide (NOx),Sulphur dioxide (SO₂) emissions,Carbon monoxide (CO) emissions,Organic carbon (OC) emissions,Non-methane volatile organic compounds (NMVOC) emissions,Black carbon (BC) emissions,Ammonia (NH₃) emissions,Unnamed: 10
count,228.000000,2.280000e+02,2.280000e+02,2.280000e+02,2.280000e+02,2.280000e+02,228.000000,2.280000e+02,228.0
mean,1907.907895,1.303766e+06,1.310759e+06,1.884261e+07,8.839487e+05,3.114111e+06,286716.972741,2.343952e+06,0.0
std,67.109519,2.483993e+06,2.511064e+06,1.146316e+07,5.189560e+05,2.808321e+06,189435.688014,2.803421e+06,0.0
min,1750.000000,3.048851e+04,3.481388e+04,8.360134e+06,4.169706e+05,9.649988e+05,122179.055000,4.793729e+05,0.0
25%,1851.750000,4.226753e+04,4.395770e+04,1.054905e+07,5.256599e+05,1.214381e+06,153853.565000,6.637391e+05,0.0
50%,1908.500000,1.758943e+05,3.397448e+05,1.512604e+07,7.181935e+05,1.948796e+06,226779.900000,8.765171e+05,0.0
75%,1965.250000,9.379858e+05,9.856426e+05,2.087098e+07,8.966426e+05,3.565418e+06,302536.150000,2.426634e+06,0.0
max,2022.000000,9.818858e+06,1.124342e+07,4.949433e+07,2.498395e+06,1.048000e+07,842624.800000,1.038562e+07,0.0